<div class="page" ng-controller="CouponEditCtrl">
	<ol class="breadcrumb-alt">
		<li><a href="/dashboard">Dashboard</a></li>
		<li><a href="/oncall">Oncall</a></li>
		<li class="active"><a href="">{{thisCoupon.title}}</a></li>
	</ol>

	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Edit Shop</strong></div>
		<div class="panel-body">
			<form class="" role="form" name="CouponForm" ng-submit="editCoupon()">
				<div class="form-group">
					<label class="" for="newTitle">Customer Name</label>
					<input ng-model="thisCoupon.title" ng-change="toSlug(thisCoupon.title)" type="text"
					       class="form-control" id="newTitle"
					       placeholder="Enter Customer Name" required>
				</div>
				<div class="form-group">
					<label class="" for="newTitleAlias">Customer Address</label>
					<input ng-model="thisCoupon.title_alias" type="text" class="form-control"
					       id="newTitleAlias" placeholder="Enter Customer Address" required>
				</div>
				<div class="form-group">
					<label class="" for="newShortDesc">Service Date</label>

					<div class="input-group ui-datepicker">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input type="text"
						       class="form-control"
						       datepicker-popup="dd/MM/yyyy"
						       show-weeks="false"
						       ng-model="thisCoupon.expire_date"
						       is-open="opened"
						       min="today"
						       ng-required="true"
						       close-text="Close">
					</div>
					<div class="callout callout-info">
						<p>Date is: {{thisCoupon.expire_date | date:'fullDate'}}</p>
					</div>
				</div>
				<div class="form-group status-group">
					<label>Status</label>
					<label class="ui-radio"><input ng-model="thisCoupon.status" name="radio1" type="radio"
					                               value="active"><span>Active</span></label>
					<label class="ui-radio"><input ng-model="thisCoupon.status" name="radio1" type="radio"
					                               value="inactive" checked><span>Inactive</span></label>
					<label class="ui-radio"><input ng-model="thisCoupon.status" name="radio1" type="radio"
					                               value="suspended"><span>Suspended</span></label>
					<label class="ui-radio"><input ng-model="thisCoupon.status" name="radio1" type="radio"
					                               value="expired"><span>Expired</span></label>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-md-4 col-lg-2">
							<label class="" for="newCategory">Category</label><br>
								<span class="ui-select">
					                <select id="newCategory" ng-model="thisCoupon.category_id"
					                        ng-options="category.id as category.title for category in Categories.record"
					                        required></select>
					            </span>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<label class="" for="newShop">Task Assigned to</label><br>
								<span class="ui-select">
					                <select id="newShop">
					                        <option>debo das</option>
					                        required></select>
					            </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="" for="newShortDesc">Short Description</label>
					<textarea ng-model="thisCoupon.short_description" id="newShortDesc" class="form-control resizeless"
					          rows="2" required data-min="3" data-max="100"></textarea>
				</div>
				<div class="form-group">
					<label class="">Full Description</label>

					<div text-angular ng-model="thisCoupon.description" class="ui-editor"></div>

				</div>
				<div class="form-group">
					<label class="" for="listPrice">List Price</label>
					<input ng-model="thisCoupon.list_price" type="text" class="form-control"
					       id="listPrice" placeholder="Enter List Price" required>
				</div>
				<div class="form-group">
					<label class="" for="newPrice">New Price</label>
					<input ng-model="thisCoupon.new_price" type="text" class="form-control"
					       id="newPrice" placeholder="Enter New Price">
				</div>
				<div class="form-group">
					<label class="" for="discount">Discount</label>
					<input ng-model="thisCoupon.discount" type="text" class="form-control"
					       id="discount" placeholder="Enter Discount">
				</div>
				<div class="form-group">
				</div>
			</form>
		</div>
		<div class="panel-footer">
			<button class="btn btn-success" ng-click="updateCoupon(thisCoupon)">Save Changes</button>
			<a class="btn btn-primary" href="javascript:;" go-back>Back to List</a>
		</div>
	</section>

</div>