<div class="page" ng-controller="EmployeeStatusCtrl">
	<ol class="breadcrumb-alt">
		<li><a href="#/dashboard">Dashboard</a></li>
		<li><a href="#/employee-listing">Employee List</a></li>
		<li class="active"><a href="">Employee Status</a></li>
	</ol>
	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Employee Status</strong></div>
		<div class="panel-body">
    	<div class="row" style="overflow-x: hidden;width: 101%;">
<!-- 			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<span class="label label-success">Available</span>
						</p>
					</div>
				</div>
			</div> -->
    		<div ng-repeat="employee in employee_list">
	    		<div id="employee_{{employee.employee_id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
		    		<div class="thumbnail bg-bright">
							<div class="bgImg-employee">
								<div ng-if="employee.employee_photo =='' ">
									<img ng-src="images/default.png">								
								</div>
								<div ng-if="employee.employee_photo !=''">
									<img ng-src="{{employee.employee_photo}}">								
								</div>
							</div>
					</div>	
					<p class="text-center">{{employee.employee_name}}</p>
					<div class="caption">
						<div ng-if="employee.is_engaged == 0 ">
							<p class="text-center">
								<span class="label label-success">Available</span>
							</p>						
						</div>
						<div ng-if="employee.is_engaged != 0 ">
							<p class="text-center">
								<span class="label label-danger">Engaged</span>
								<a style="text-decoration: none !important;" ng-href="#/employee-status/{{employee.employee_id}}" tooltip-placement="top" tooltip="View Detail work dates" tooltip-append-to-body="true"><span class="label label-info">Details</span>
								</a>
							</p>
							<!-- <p class="text-center">
							
							</p> -->						
						</div>
					</div>
	    		</div>
    		</div>
	
		

		
			</div>
    	</div>
		</div>
	</section>
</div>