<div class="page" ng-controller="employeeCtrl">

    <section class="">
		<accordion close-others="true" class="ui-accordion ui-accordion-info" id="addEmployee">
			<accordion-group heading="Add New Employee">
				<form class="" role="form" name="newEmployeeForm" ng-submit="createEmployee(newEmployee)">
					<div class="form-group">
						<label class="" for="newUser">Name Of Employee</label>
						<input ng-model="newEmployee.name" type="text" class="form-control"
						       id="newEmployee"
						       placeholder="Enter Name" required>
					</div>
					<div class="form-group">
						<label class="" for="newEmployeeEmail">Employee Email</label>
						<input ng-model="newEmployee.email" type="text" class="form-control"
						       id="newTitleAlias" placeholder="Enter User Email" required>
					</div>
					<div class="form-group">
						<label class="" for="employeePhoneNumber">Employee Mobile Number</label>
						<input ng-model="newEmployee.phone" type="text" class="form-control"
						       id="employee_phone" placeholder="Enter Employee Mobile Number" required>
					</div>
					<div class="form-group">
						<label class="" for="newShortDesc">Additional Information about Employee</label>
						<textarea ng-model="newEmployee.short_description" id="newShortDesc" class="form-control resizeless"
						          rows="2" required data-min="3" data-max="100"></textarea>
					</div>
					<hr/>
					<button type="submit" class="btn btn-info">Add Employee</button>
				</form>
				<hr>
				<div id="imageUploadPanel">
					<label class="ui-checkbox"><input ng-model="uploadImageCheck" name="uploadImageCheck" type="checkbox" value="option2" checked><span>Do You Want to upload Image of this employee? </span></label>
					<div class="form-group" ng-show="uploadImageCheck">
					    <input type="text" class="form-control" ng-model="employee_id" id="employee_id">
						<input type="file" title="Choose Employee Image" data-ui-file-upload="" class="btn-primary" onchange="angular.element(this).scope().uploadFile(this.files)"/>

					</div>
				</div>

			</accordion-group>
		</accordion>

	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Employee List</strong></div>
		<div class="panel-body">
    	<div class="row" style="overflow-x: hidden;width: 101%;">
			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>
					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/1" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>
			</div>

			<div id="shop_{{shop.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/2" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>

			</div>
			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/3" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/4" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/5" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>
			</div>

			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/6" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div id="employee_{{employee.id}}" class="col-xs-6 col-sm-4 col-md-4 col-lg-2 am-fade-and-scale">
				<div class="thumbnail bg-bright">
					<div class="bgImg-employee">
					</div>
					<p class="text-center">abc name</p>

					<div class="caption">
						<p class="text-center">
							<a ng-href="#/employee-listing/7" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteShop(shop)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"
							   tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</p>
					</div>
				</div>
			</div>
			</div>
    	</div>
		</div>
	</section>



    </section> 

</div>