<div id="nav-wrapper" data-ng-controller="navCtrl">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>
         <li>
            <a href="#/oncall"><i class="fa fa-phone"></i><span data-i18n="On Call"></span></a>
            <ul>
                <li><a href="#/oncall"><i class="fa fa-caret-right"></i><span data-i18n="Oncall details"></span></a></li>
                <li><a href="#/oncall-charges"><i class="fa fa-caret-right"></i><span data-i18n="Oncall charges list"></span></a></li>
            </ul>
        </li>
         <li>
            <a href="#/otj"><i class="fa fa-building-o"></i><span data-i18n="OTJ"></span></a>
            <ul>
                <li><a href="#/otj"><i class="fa fa-caret-right"></i><span data-i18n="OTJ details"></span></a></li>
                <li><a href="#/otj-jobs"><i class="fa fa-caret-right"></i><span data-i18n="Add OTJ jobs"></span></a></li>
            </ul>
        </li>
         <li>
            <a href="#/aum"><i class="fa fa-building-o"></i><span data-i18n="AUM Home Package"></span></a>
            <ul>
                <li><a href="#/aum"><i class="fa fa-caret-right"></i><span data-i18n="AUM Home details"></span></a></li>
                <li><a href="#/aum-jobs"><i class="fa fa-caret-right"></i><span data-i18n="Add AUM jobs"></span></a></li>
            </ul>
        </li>
         <li>
            <a href="#/amc"><i class="fa fa-building-o"></i><span data-i18n="Corporate AMC"></span></a>
            <ul>
                <li><a href="#/amc"><i class="fa fa-caret-right"></i><span data-i18n="AMC Package details"></span></a></li>
                <li><a href="#/amc-jobs"><i class="fa fa-caret-right"></i><span data-i18n="AMC jobs"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/employee"><i class="fa fa-users"></i><span data-i18n="Employee"></span></a>
            <ul>
                <li><a href="#/employee-listing"><i class="fa fa-caret-right"></i><span data-i18n="Empolyee Listing"></span> <span class="badge badge-success">{{employee_count}}</span></a></li>
                <li><a href="#/employee-status"><i class="fa fa-caret-right"></i><span data-i18n="Employee Work Status"></span></a></li>
            </ul>
        </li>

        <li><a href="#/settings"> <i class="fa fa-cog"></i><span data-i18n="Settings"></span> </a></li>
    </ul>
</div>