<div class="page page-invoice" data-ng-controller="aumInvoiceCtrl">

    <div class="invoice-wrapper">
        <section class="invoice-container" id="invoice">
            
            <div class="row">
                <div class="col-xs-6">
                    <p class="size-h2">AUM Facility Service</p>
                    <p class="text-muted">33, Barthakur Mill Road, Ulubari</p>
                    <p class="text-muted">Guwahati - 781007, Assam</p>
                    <p class="text-muted">Phone: 0361 - 2528888, 2527777</p>
                    <p class="text-muted">Email: info@aumfs.com</p>
                </div>
                <div class="col-xs-6 text-right">
                    <p class="size-h2">{{package_name}}</p>
                    <p class="size-h2">INVOICE NO. {{invoice_number}}</p>
                    <p class="size-h4">Service Period:  <strong>{{start_date}}</strong> to <strong>{{end_date}}</strong></p>                
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-6">
                    {{customer_name}} <br>
                    {{customer_address}}<br>
                    {{customer_phone}}

                </div>
                <div class="col-xs-6 text-right">
                    <p><strong>Order Details:</strong></p>
                    <strong>Date:</strong> {{invoice_date}} <br>
                </div>            
            </div>

            <div class="divider divider-lg"></div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-dark">
                        <th>Product</th>
                        <th class="text-center">Unit Cost</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in aum_services_list">
                        <td>{{data.service_name}}</td>
                        <td class="text-center">{{data.service_price}}</td>
                        <td class="text-center">{{data.quantity}}</td>
                        <td class="text-center">{{data.qty_total}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-xs-8">
                    <p class="size-h3">Thanks for your business</p>
                    <ul>
                        <li>All packages are applicable only to one residential appartment.</li>
                        <li>Payment as per quote has to be made in advance.</li>
                        <li>Schedule of services will be emailed to the subscriber.</li>
                        <li>The period of the contract for maintenance is one year from the date of payment.</li>
                        <li>All complaints made before 2 PM on working days will attended on the same day otherwise on the next working day.</li>
                        <li>Please note all spare parts required will be charged to customers on actuals.</li>
                    </ul>
                </div>
                <div class="col-xs-4 invoice-sum text-right">
                    <ul class="list-unstyled">
                        <li>Sub - Total amount: Rs. {{get_sub_total()}}</li>
                        <li>Subscription Fee: Rs. {{subscription_type}}</li>
                       <!--  <li>Discount: -----</li>
                        <li>Tax (12%): #300</li> -->
                        <li><strong>Grand Total: Rs. {{grand_total}}</strong></li>
                    </ul>
                </div>            
            </div>
            <div style="float:right">
                <small>Powered By <a href="#" target="_blank">R T Softwares (www.rtsoftwares.in)</a></small>
            </div>
        </section>

        <section class="text-center no-print">
            <a href="" ng-click="printInvoice()" class="btn btn-primary btn-lg btn-w-lg"><i class="fa fa-print"></i> Print</a>
        </section>
    </div>
</div>