<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
      <i>({{match.model.customer_name}})</i>
  </a>
</script>

<div class="page page-oncall" ng-controller="oncallCustomerCtrl">
<section  data-ng-cloak>

<accordion close-others="true" class="ui-accordion ui-accordion-info" id="addCustomer">
	<accordion-group heading="Add New Customer">
			<div class="form-group">
			{{selectedCustomer}}
			
             <input type="text" ng-model="selectedCustomer" placeholder="Search for existing customer here" typeahead="c as c.customer_name for c in customers | filter:$viewValue | limitTo:10" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;">

                  <!-- <input type="text" ng-model="selectedCountries" placeholder="Search for existing customer ere" typeahead="c as c.country for c in countries | filter:$viewValue | limitTo:10" typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)' typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;"> -->
			</div>

		<form class="" role="form" id="newCustomerForm" name="newCustomerForm" ng-submit="processNewCustomerForm(selectedCustomer)">
			<div class="form-group">
				<label class="" for="newTitle">Customer Name</label>
				<input  style="display:none" type="text" ng-model="selectedCustomer.customer_id" name="customer_id" class="form-control" id="existing_customer_id" placeholder="Customer Id" >

				<input  type="text" ng-model="selectedCustomer.customer_name" name="customer_name" class="form-control" id="customer_name" placeholder="Enter Customer Name" value="{{somebinding.id}}" required>
			</div>
			<div class="form-group">
				<label class="" for="customerAddress">Customer Address</label>
				<input name="customer_address" ng-model="selectedCustomer.customer_address" type="text" class="form-control"
				       id="customer_address" placeholder="Enter Customer Address" required>
			</div>
			<div class="form-group">
				<label class="" for="customerPhone">Customer Phone</label>
				<input name="customer_phone" ng-model="selectedCustomer.customer_phone" type="text" class="form-control"
				       id="customer_phone" placeholder="Enter Customer Phone Number" required>
			</div>
<!-- 			<div class="row">
				<div class="col-md-2 col-md-offset-10">
					<input type="submit" class="btn btn-info" ng-click="show_oncall =! show_oncall" value="Add New Customer">
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-4">
					<label class="ui-checkbox"><input ng-model="new_customer" name="new_customer_chk" type="checkbox" value="option2"><span>Is it a New Customer</span></label>
				</div>
				<div class="col-md-4">
					<label class="ui-checkbox"><input id="existing_customer_chk" ng-model="existing_customer" name="existing_customer" ng-change="change(existing_customer)" type="checkbox"><span>Is it a Existing Customer</span></label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="submit" class="btn btn-info" ng-show="new_customer" value="Add New Customer">
				</div>
			</div>	
		</form>
		</br>
		<hr>
		</br>


		<div>
		<form class="" role="form" name="oncallForm">
			<div class="row">
				<div class="col-md-6">
					<label class="" for="customerId">Customer Id</label><br>
					<input type="text" readonly class="form-control" ng-model="oncallCustomer.customer_id" name="oncallCustomer.existing_customer_id" id="customer_id" required><br>

				</div>
			</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="" for="serviceName">Service Name</label><br>
								<span class="ui-select">
					                <select name="oncallCustomer.service_type" ng-model="oncall_services" id="serviceName" ng-options="service.service_name for service in oncall_services_list track by service.service_name" required>
					                	<option value="" ng-hide="oncall_services">Select Service Type</option>
					                </select>
					            </span>
						</div>					
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="" for="employeeName">Assign This Task to</label><br>
									<span class="ui-select">
						                <select name="oncallCustomer.employee_list" ng-model="employee_list" id="employee_list" ng-options="list_employee.employee_name for list_employee in service_employee_list track by list_employee.employee_id" required>
						                <option value="" ng-hide="employee_list">Select Employee</option>
						                </select>
					            </span>
						</div>
					</div>
					<div class="col-md-4">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="" for="assignDate">Date and Time of Order</label><br>
				        <div data-ng-controller="DatepickerDemoCtrl">
		                    <div class="input-group ui-datepicker">
		                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                        <input type="text" 
		                               class="form-control"
		                               datepicker-popup="{{format}}"
		                               ng-model="assignDate"
		                               show-weeks="false"
		                               is-open="opened"
		                               min="today"
		                               datepicker-options="dateOptions" 
		                               date-disabled="disabled(date, mode)"
		                               close-text="Close">
		                    </div>
				        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					        <div data-ng-controller="TimepickerDemoCtrl">
					            <div class="row">
					                <div class="col-sm-4">
					                    <div ng-model="assignTime" ng-change="changed()" style="display:inline-block;">
					                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					                    </div>                    
					                </div>
					                <div class="col-sm-4" style="display:none">
					            		<div class="callout callout-info" style="background-color:white">
					            			<input style="background-color: #f4f8fa" id="assignTime" type="text" value="{{assignTime | date:'HH:mm' }} Hours" disabled>
					                    </div>
					                </div>
					            </div>
					        </div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="" for="assignDate">Date and Time of Act</label><br>
				        <div data-ng-controller="DatepickerDemoCtrl">
		                    <div class="input-group ui-datepicker">
		                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                        <input type="text" 
		                        	   id="actDate"
		                               class="form-control"
		                               datepicker-popup="{{format}}"
		                               ng-model="actDate"
		                               show-weeks="false"
		                               is-open="opened"
		                               min="today"
		                               datepicker-options="dateOptions" 
		                               date-disabled="disabled(date, mode)"
		                               close-text="Close">
		                    </div>
				        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					        <div data-ng-controller="TimepickerDemoCtrl">
					            <div class="row">
					                <div class="col-sm-4">
					                    <div ng-model="actTime" ng-change="changed()" style="display:inline-block;">
					                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					                    </div>   

					                </div>
					                <div class="col-sm-4" style="display:none">
					            		<div class="callout callout-info" style="background-color:white">
					            			<input style="background-color: #f4f8fa" id="actTime" type="text" value="{{actTime | date:'HH:mm:ss' }}" disabled>
					                    </div>
					                </div>
					            </div>
					        </div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="" for="assignDate">Completion Date and Time of Act</label><br>
				        <div data-ng-controller="DatepickerDemoCtrl">
		                    <div class="input-group ui-datepicker">
		                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                        <input type="text" 
		                               class="form-control"
		                               id="actualDate"
		                               datepicker-popup="{{format}}"
		                               ng-model="actualDate"
		                               show-weeks="false"
		                               is-open="opened"
		                               min="today"
		                               datepicker-options="dateOptions" 
		                               date-disabled="disabled(date, mode)"
		                               close-text="Close">
		                    </div>
		                    <p>Date is {{actualDate | date:'yyyy-MM-dd'}}</p>
				        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
					        <div data-ng-controller="TimepickerDemoCtrl">
					            <div class="row">
					                <div class="col-sm-4">
					                    <div ng-model="actualTime" ng-change="changed()" style="display:inline-block;">
					                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					                    </div>                    
					                </div>
					                <div class="col-sm-4" style="display:none">
					            		<div class="callout callout-info" style="background-color:white">
					            			<input style="background-color: #f4f8fa" id="actualTime" type="text" value="{{actualTime | date:'HH:mm:ss' }}" disabled>
					                    </div>
					                </div>
					            </div>
					        </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<label class="ui-checkbox"><input ng-model="helper" name="helper" type="checkbox" value="option2" checked><span>Helper Required</span></label>
							</div>
							<div class="col-md-6">
								<input ng-model="numberOfHelpers" ng-show="helper" type="text" class="form-control"
							       id="number_of_helpers" placeholder="enter number of helpers">
							</div>
		
						</div>					
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a class="btn btn-primary" id="work-hours" ng-click="timeDifference()"><i class="fa fa-clock-o"></i> Get Work Hours</a>
						<input type="text" class="form-control" ng-model="workingHour" id="working-hours" disabled="">
					</div>
					<div class="col-md-6">
						
		
					</div>
				</div>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-6">
						<a class="btn btn-primary" id="bill-amount" ng-click="getBillAmount()"><i class="fa fa-inr"></i> Get Billing Price</a>
					<input type="text" class="form-control" ng-model="billAmount" id="bill_amount" disabled="">
					</div>
					<div class="col-md-6">
					</div>
				</div>

				<div class="space"></div>
				<div class="row">
					<div class="col-md-6">
						<label class="" for="billNumber">Bill Number</label><br>
						<input type="text" class="form-control" ng-model="billNumber" id="bill-number" placeholder="Enter bill number">
					</div>
					<div class="col-md-6">
					</div>
				</div>

				<div class="space"></div>
				<div class="form-group">
					<label class="" for="newShortDesc">Short Description</label>
					<textarea ng-model="short_description" id="shortDesc" class="form-control resizeless"
					          rows="2" data-min="3" data-max="100"></textarea>
				</div>
				<hr/>
				<input type="submit" class="btn btn-info" value="Create Order" ng-click="submitOncall()">
			</form>
		</div>
	</accordion-group>
</accordion>

<section class="panel panel-default table-dynamic">
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> OnCall Customer List</strong></div>

	<div class="table-filters">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<form>
					<input type="text"
					       placeholder="search"
					       class="form-control"
					       data-ng-model="searchKeywords"
					       data-ng-keyup="search()">
				</form>
			</div>
<!-- 			<div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredCoupons.length}}/{{Coupons.record.length}} entries
                    </span>
			</div> -->
		</div>
	</div>

	<table class="table table-bordered table-striped table-responsive">
		<thead>
		<tr>
			<th>
				<div class="th">
					ID
				</div>
			</th>
			<th>
				<div class="th">
					Customer Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('shop_by_shop_id.title') "
                              data-ng-class="{active: row == 'shop_by_shop_id.title'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-shop_by_shop_id.title') "
                              data-ng-class="{active: row == '-shop_by_shop_id.title'}"></span>
				</div>
			</th>
			<th>
				<div class="th">
					Service Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('categories_by_category_id.title') "
                              data-ng-class="{active: row == 'categories_by_category_id.title'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-categories_by_category_id.title') "
                              data-ng-class="{active: row == '-categories_by_category_id.title'}"></span>
				</div>
			</th>
			<th>
				<div class="th">
					Status
				</div>
			</th>
			<th>
				<div class="th">
					Date Of Order
				</div>
			</th>
			<th>
				<div class="th">
					Date Of Service
				</div>
			</th>
			<th>
				<div class="th">
					Assigned To
				</div>
			</th>
			<th>
				<div class="th">Actions</div>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><span class="label label-warning"></span></td>
			<td>20-05-2014</td>
			<td>23-05-2014</td>
			<td>Deep Das</td>
			<td>
				<a ng-href="/oncall/{{coupon.id}}" class="btn-icon btn-icon-sm btn-primary"
				   role="button"
				   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
						class="fa fa-edit"></i></a>
				<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
				   ng-dblclick="deleteCoupon(coupon)" role="button"
				   tooltip-placement="top" tooltip="Delete (Double Click)" tooltip-append-to-body="true"><i
						class="fa fa-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>

	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
			</div>
			<div class="col-md-6 text-right pagination-container">
				<pagination class="pagination-sm"
		            page="currentPage"
		            total-items="filteredCoupons.length"
		            max-size="4"
		            on-select-page="select(page)"
		            items-per-page="numPerPage"
		            rotate="false"
		            boundary-links="true">
				</pagination>
			</div>
		</div>
	</footer>
</section>
</section>
</div>