<div class="page page-oncall" ng-controller="oncallCustomerCtrl">
<section  data-ng-cloak>

<accordion close-others="true" class="ui-accordion ui-accordion-info" id="addCustomer">
	<accordion-group heading="Add New Customer">
		<form class="" role="form" name="newCustomerForm" ng-submit="createCustomer()">
			<div class="form-group">
				<label class="" for="newTitle">Customer Name</label>
				<input ng-model="newCoupon.title" type="text" class="form-control"
				       id="newTitle"
				       placeholder="Enter Customer Name" required>
			</div>
			<div class="form-group">
				<label class="" for="newTitleAlias">Customer Address</label>
				<input ng-model="newCoupon.title_alias" type="text" class="form-control"
				       id="newTitleAlias" placeholder="Enter Customer Address" required>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="" for="serviceName">Service Name</label><br>
								<span class="ui-select">
					                <select ng-model="oncall_services" id="serviceName" ng-options="service.name for service in oncall_services_list">
					                	<option value="" ng-hide="oncall_services">Select Service Type</option>
					                </select>
					            </span>
					</div>					
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="" for="employeeName">Assign This Task to</label><br>
								<span class="ui-select">
					                <select id="employeeName">
				                		<option>Select Employee</option>
				                        <option>debo das</option>
				                        <option>rup das</option>
				                        <option>Aunupam saikia</option>
				                        required></select>
					            </span>
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>

<!-- 			<div class="form-group">
				<label class="" for="serviceCharges">Service Charges</label><br>
						<span class="ui-select">
			                <select ng-model="service_charge" id="serviceCharges" ng-options="service_charge.code as service_charge.service_name for service_charge in service_charges">
			                	<option value="" ng-hide="service_charge">Select Service Type</option>

			                </select>
			            </span>
			            <br>selected: {{service_charge}}				
			</div> -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="" for="assignDate">Assign Date and Time</label><br>
			        <div data-ng-controller="DatepickerDemoCtrl">
	                    <div class="input-group ui-datepicker">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                        <input type="text" 
	                               class="form-control"
	                               datepicker-popup="{{format}}"
	                               ng-model="assignDate"
	                               show-weeks="false"
	                               is-open="opened"
	                               min="today"
	                               datepicker-options="dateOptions" 
	                               date-disabled="disabled(date, mode)"
	                               ng-required="true" 
	                               close-text="Close">
	                    </div>
			        </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
				        <div data-ng-controller="TimepickerDemoCtrl">
				            <div class="row">
				                <div class="col-sm-4">
				                    <div ng-model="assignTime" ng-change="changed()" style="display:inline-block;">
				                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
				                    </div>                    
				                </div>
				                <div class="col-sm-4">
				            		<div class="callout callout-info" style="background-color:white">
				            			<input style="background-color: #f4f8fa" id="assignTime" type="text" value="{{assignTime | date:'HH:mm' }} Hours" disabled>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="" for="assignDate">Date and Time of Act</label><br>
			        <div data-ng-controller="DatepickerDemoCtrl">
	                    <div class="input-group ui-datepicker">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                        <input type="text" 
	                               class="form-control"
	                               datepicker-popup="{{format}}"
	                               ng-model="actDate"
	                               show-weeks="false"
	                               is-open="opened"
	                               min="today"
	                               datepicker-options="dateOptions" 
	                               date-disabled="disabled(date, mode)"
	                               ng-required="true" 
	                               close-text="Close">
	                    </div>
			        </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
				        <div data-ng-controller="TimepickerDemoCtrl">
				            <div class="row">
				                <div class="col-sm-4">
				                    <div ng-model="actTime" ng-change="changed()" style="display:inline-block;">
				                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
				                    </div>                    
				                </div>
				                <div class="col-sm-4">
				            		<div class="callout callout-info" style="background-color:white">
				            			<input style="background-color: #f4f8fa" id="actTime" type="text" value="{{actTime | date:'HH:mm' }} Hours" disabled>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="" for="assignDate">Actual Date and Time of Act</label><br>
			        <div data-ng-controller="DatepickerDemoCtrl">
	                    <div class="input-group ui-datepicker">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                        <input type="text" 
	                               class="form-control"
	                               datepicker-popup="{{format}}"
	                               ng-model="actualDate"
	                               show-weeks="false"
	                               is-open="opened"
	                               min="today"
	                               datepicker-options="dateOptions" 
	                               date-disabled="disabled(date, mode)"
	                               ng-required="true" 
	                               close-text="Close">
	                    </div>
	                    <p>Date is {{actualDate | date:'fullDate'}}</p>
			        </div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
				        <div data-ng-controller="TimepickerDemoCtrl">
				            <div class="row">
				                <div class="col-sm-4">
				                    <div ng-model="actualTime" ng-change="changed()" style="display:inline-block;">
				                        <timepicker class="ui-timepicker" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
				                    </div>                    
				                </div>
				                <div class="col-sm-4">
				            		<div class="callout callout-info" style="background-color:white">
				            			<input style="background-color: #f4f8fa" id="actualTime" type="text" value="{{actualTime | date:'HH:mm' }} Hours" disabled>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<label class="ui-checkbox"><input ng-model="helper" name="helper" type="checkbox" value="option2" checked><span>Helper Required</span></label>
						</div>
						<div class="col-md-6">
							<input ng-model="numberOfHelpers" ng-show="helper" type="text" class="form-control"
						       id="helperNumber" placeholder="enter number of helpers">

						</div>
	
					</div>					
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a class="btn btn-primary" id="work-hours" ng-click="timeDifference()"><i class="fa fa-clock-o"></i> Get Work Hours</a>
					<input type="text" class="form-control" ng-model="workingHour" id="working-hours" disabled="">
				</div>
				<div class="col-md-6">
					
	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="" for="billAmount">Bill Amount</label><br>
					<input type="text" class="form-control" ng-model="billAmount" id="bill-amount" disabled="">
				</div>
				<div class="col-md-6">
					
	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<label class="" for="billNumber">Bill Number</label><br>
					<input type="text" class="form-control" ng-model="billNumber" id="bill-number" disabled="">
				</div>
				<div class="col-md-6">
					
	
				</div>
			</div>
			<div class="form-group">
				<label class="" for="newShortDesc">Short Description</label>
				<textarea ng-model="newCoupon.short_description" id="newShortDesc" class="form-control resizeless"
				          rows="2" required data-min="3" data-max="100"></textarea>
			</div>
<!-- 			<div class="form-group">
				<label>Status</label>
				<label class="ui-radio"><input ng-model="newCoupon.status" name="radio1" type="radio"
				                               value="active"><span>Active</span></label>
				<label class="ui-radio"><input ng-model="newCoupon.status" name="radio1" type="radio" value="inactive"
				                               checked><span>Inactive</span></label>
				<label class="ui-radio"><input ng-model="newCoupon.status" name="radio1" type="radio" value="suspended"><span>Suspended</span></label>
				<label class="ui-radio"><input ng-model="newCoupon.status" name="radio1" type="radio"
				                               value="expired"><span>Expired</span></label>
			</div> -->
<!-- 			<div class="form-group" ng-if="newCoupon.coupon_type == 'code'">
				<label class="" for="newCode">Coupon Code</label>
				<input ng-model="newCoupon.coupon_code" type="text" class="form-control"
				       id="newCode" placeholder="Enter Coupon Code" required>
			</div> -->
<!-- 			<div class="form-group">
				<div class="row">
					<div class="col-sm-6 col-md-4 col-lg-2">
						<label class="" for="serviceName">Service Name</label><br>
								<span class="ui-select">
					                <select ng-model="oncall_services" id="serviceName" ng-options="service.name for service in oncall_services_list">
					                	<option value="" ng-hide="oncall_services">Select Service Type</option>
					                </select>
					            </span>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2" style="margin-left: 30px;">
						<label class="" for="serviceCharges">Service Charges</label><br>
								<span class="ui-select">
					                <select ng-model="service_charge" id="serviceCharges" ng-options="service_charge.code as service_charge.service_name for service_charge in service_charges">
					                	<option value="" ng-hide="service_charge">Select Service Type</option>

					                </select>
					            </span>
					            <br>selected: {{service_charge}}
					</div>
					<div class="col-sm-6 col-md-4 col-lg-2" style="margin-left: 30px;">
 						<label class="" for="assignDate">Assigned Date</label><br>

					</div>
					<div class="col-sm-6 col-md-4 col-lg-2" style="margin-left: 30px;">

					</div>
					<div class="col-sm-6 col-md-4 col-lg-2" style="margin-left: 30px;">

					</div>
				</div>
			</div> -->
<!-- 			<div class="form-group">
				<label class="">Full Description</label>

				<div text-angular ng-model="newCoupon.description" class="ui-editor"></div>

			</div> -->

			<hr/>
			<button type="submit" class="btn btn-info">Create Order</button>
		</form>
	</accordion-group>
</accordion>

<section class="panel panel-default table-dynamic">
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> OnCall Customer List</strong></div>

	<div class="table-filters">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<form>
					<input type="text"
					       placeholder="search"
					       class="form-control"
					       data-ng-model="searchKeywords"
					       data-ng-keyup="search()">
				</form>
			</div>
<!-- 			<div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredCoupons.length}}/{{Coupons.record.length}} entries
                    </span>
			</div> -->
		</div>
	</div>

	<table class="table table-bordered table-striped table-responsive">
		<thead>
		<tr>
			<th>
				<div class="th">
					ID
				</div>
			</th>
			<th>
				<div class="th">
					Customer Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('shop_by_shop_id.title') "
                              data-ng-class="{active: row == 'shop_by_shop_id.title'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-shop_by_shop_id.title') "
                              data-ng-class="{active: row == '-shop_by_shop_id.title'}"></span>
				</div>
			</th>
			<th>
				<div class="th">
					Service Name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('categories_by_category_id.title') "
                              data-ng-class="{active: row == 'categories_by_category_id.title'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-categories_by_category_id.title') "
                              data-ng-class="{active: row == '-categories_by_category_id.title'}"></span>
				</div>
			</th>
			<th>
				<div class="th">
					Status
				</div>
			</th>
			<th>
				<div class="th">
					Date Of Order
				</div>
			</th>
			<th>
				<div class="th">
					Date Of Service
				</div>
			</th>
			<th>
				<div class="th">
					Assigned To
				</div>
			</th>
			<th>
				<div class="th">
					Invoice Action
				</div>
			</th>
			<th>
				<div class="th">Actions</div>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td><span class="label label-warning"></span></td>
			<td>20-05-2014</td>
			<td>23-05-2014</td>
			<td>Deep Das</td>
			<td><a href="/oncall/invoice" class="btn btn-primary btn-block">Generate Invoice</a></td>
			<td>
				<a ng-href="/oncall/{{coupon.id}}" class="btn-icon btn-icon-sm btn-primary"
				   role="button"
				   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
						class="fa fa-edit"></i></a>
				<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
				   ng-dblclick="deleteCoupon(coupon)" role="button"
				   tooltip-placement="top" tooltip="Delete (Double Click)" tooltip-append-to-body="true"><i
						class="fa fa-times"></i></a>
			</td>
		</tr>
		</tbody>
	</table>

	<footer class="table-footer">
		<div class="row">
			<div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
			</div>
			<div class="col-md-6 text-right pagination-container">
				<pagination class="pagination-sm"
		            page="currentPage"
		            total-items="filteredCoupons.length"
		            max-size="4"
		            on-select-page="select(page)"
		            items-per-page="numPerPage"
		            rotate="false"
		            boundary-links="true">
				</pagination>
			</div>
		</div>
	</footer>
</section>
</section>
</div>