<div class="page" ng-controller="adminSettingsCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Admin Update Page</strong></div>

        <div class="panel-body">
			<form class="" role="form" name="adminUpdateForm">
				<div class="form-group">
					<label class="" for="newUser">Admin Name</label>
					<input ng-model="admin.name" type="text" class="form-control"
					       id="admin_name"
					       placeholder="Enter Admin Name" required>
				</div>
				<div class="form-group">
					<label class="" for="adminEmail">Admin Email</label>
					<input ng-model="admin.email" type="text" class="form-control"
					       id="admin_email" placeholder="Enter Admin Email" required>
				</div>
				<div class="form-group">
					<label class="" for="adminOldPassword">Old Password</label>
					<input ng-model="admin.old_password" type="text" class="form-control"
					       id="admin_email" placeholder="Admin Old Password" required>
				</div>
				<div class="form-group">
					<label class="" for="adminNewPassword">Old Password</label>
					<input ng-model="admin.new_password" type="text" class="form-control"
					       id="admin_email" placeholder="Admin New Password" required>
				</div>
				<div class="form-group">
					<label class="" for="newShortDesc">Short Description Of Admin</label>
					<textarea ng-model="admin.short_description" id="newShortDesc" class="form-control resizeless"
					          rows="2" required data-min="3" data-max="100"></textarea>
				</div>
				<div class="form-group">
				<div id="imageUploadPanel">
					<div class="thumbnail bg-bright">
						<div class="bgImg-employee">
							<div ng-if="admin.admin_photo =='' ">
								<p>No image for this employee</p>								
							</div>
							<div ng-if="admin.admin_photo !=''">
								<img ng-src="{{admin.admin_photo}}">								
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="file" title="Choose New Image" data-ui-file-upload="" id="upload_admin_image" class="btn-primary" onchange="angular.element(this).scope().uploadFile(this.files)"/>
					</div>
				</div>
				</div>
				<hr/>
				<button type="submit" ng-click="updateAdmin(admin)" class="btn btn-info">Update</button>
			</form>

</div>