<div class="page page-lock" data-ng-controller="lockScreenCtrl">

    <div class="lock-centered clearfix">
        <div class="lock-container">
            <!-- <div ui-time class="lock-time"></div> -->
            
            <section class="lock-box">
                <div class="lock-user">{{admin_details.name}}</div>
                <div class="lock-img"><img ng-src="{{admin_details.admin_image}}" alt=""></div>
                <div class="lock-pwd">
                    <form>
                        <div class="form-group">
                            <input id="lockPassword" type="password" placeholder="Password" class="form-control">
                            <a ng-click="unlock_screen()" class="btn-submit">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </div>            
            </section>
        </div>
    </div>
</div>