<div class="page" ng-controller="adminSettingsCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Admin Settings Page</strong></div>
        <div class="panel-body">
		<accordion close-others="true" class="ui-accordion ui-accordion-info" id="addUser">
			<accordion-group heading="Add New User">
				<form class="" role="form" name="newCouponForm" ng-submit="createUser()">
					<div class="form-group">
						<label class="" for="newUser">Name Of User</label>
						<input ng-model="newUser.name" type="text" class="form-control"
						       id="newUser"
						       placeholder="Enter Name" required>
					</div>
					<div class="form-group">
						<label class="" for="newUserEmail">User Email</label>
						<input ng-model="newUser.email" type="text" class="form-control"
						       id="newTitleAlias" placeholder="Enter User Email" required>
					</div>
					<div class="callout callout-info">
						<p>Password will be sent to this email</p>
					</div>
					<div class="form-group">
						<label class="" for="newShortDesc">Short Description Of User</label>
						<textarea ng-model="newUser.short_description" id="newShortDesc" class="form-control resizeless"
						          rows="2" required data-min="3" data-max="100"></textarea>
					</div>
					<div class="form-group">
						<label>Status</label>
						<label class="ui-radio"><input ng-model="newUser.status" name="radio1" type="radio"
						                               value="active"><span>Active</span></label>
						<label class="ui-radio"><input ng-model="newUser.status" name="radio1" type="radio" value="inactive"
						                               checked><span>Inactive</span></label>
						<label class="ui-radio"><input ng-model="newUser.status" name="radio1" type="radio" value="suspended"><span>Suspended</span></label>
					</div>
					<hr/>
					<button type="submit" class="btn btn-info">Create User</button>
				</form>
			</accordion-group>
		</accordion>
<section class="panel panel-default table-dynamic">
	<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> OTJ Customer List</strong></div>
		<table class="table table-bordered table-striped table-responsive">
			<thead>
			<tr>
				<th>
					<div class="th">
						Name
					</div>
				</th>
				<th>
					<div class="th">
						Email
					</div>
				</th>
				<th>
					<div class="th">
						User Type
					</div>
				</th>
				<th>
					<div class="th">
						Status
					</div>
				</th>
				<th>
					<div class="th">Actions</div>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Admin</td>
				<td>admin@gmail.com</td>
				<td>Master</td>
				<td><span class="label label-success">Active</span></td>
				<td>
					<a ng-href="/oncall/{{coupon.id}}" class="btn-icon btn-icon-sm btn-primary"
					   role="button"
					   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
							class="fa fa-edit"></i></a>
					<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
					   ng-dblclick="deleteCoupon(coupon)" role="button"
					   tooltip-placement="top" tooltip="Delete (Double Click)"  tooltip-append-to-body="true"><i
							class="fa fa-times"></i></a>
				</td>
			</tr>
			</tbody>
		</table>
</section>
				<!-- <accordion-group heading="List User">
				<table class="table table-bordered table-striped table-responsive">
					<thead>
					<tr>
						<th>
							<div class="th">
								Name
							</div>
						</th>
						<th>
							<div class="th">
								Email
							</div>
						</th>
						<th>
							<div class="th">
								User Type
							</div>
						</th>
						<th>
							<div class="th">
								Status
							</div>
						</th>
						<th>
							<div class="th">Actions</div>
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Admin</td>
						<td>admin@gmail.com</td>
						<td>Master</td>
						<td><span class="label label-success">Active</span></td>
						<td>
							<a ng-href="/oncall/{{coupon.id}}" class="btn-icon btn-icon-sm btn-primary"
							   role="button"
							   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
									class="fa fa-edit"></i></a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-danger"
							   ng-dblclick="deleteCoupon(coupon)" role="button"
							   tooltip-placement="top" tooltip="Delete (Double Click)"  tooltip-append-to-body="true"><i
									class="fa fa-times"></i></a>
						</td>
					</tr>
					</tbody>
				</table>
			</accordion-group> -->
<!-- 		</accordion>
 -->        <!-- </div> -->
    <!-- </section>  -->

</div>