<div class="page" data-ng-controller="adminSettingsCtrl">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Admin Settings Page</strong></div>
        <div class="panel-body">
			<section class="panel panel-default table-dynamic">
					<table class="table table-bordered table-striped table-responsive">
						<thead>
						<tr>
							<th>
								<div class="th">
									Name
								</div>
							</th>
							<th>
								<div class="th">
									Email
								</div>
							</th>
							<th>
								<div class="th">
									User Type
								</div>
							</th>
							<th>
								<div class="th">
									Status
								</div>
							</th>
							<th>
								<div class="th">Actions</div>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{admin_details.name}}</td>
							<td>{{admin_details.email}}</td>
							<td>{{admin_details.user_type}}</td>
							<td>
				        		<div ng-if="admin_details.status == '1' ">
									<span class="label label-success">Active</span>
								</div>
								<div ng-if="admin_details.status != '1' ">
										<span class="label label-danger">Inactive</span>
								</div>
							</td>
							<td>
								<a ng-href="#/settings/{{admin_details.id}}" class="btn-icon btn-icon-sm btn-primary"
								   role="button"
								   tooltip-placement="top" tooltip="Edit" tooltip-append-to-body="true"><i
										class="fa fa-edit"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
			</section>
		</div>
</section>
</div>