<div class="page-signin" data-ng-controller="loginCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="signin-social text-center">
                    <img src="/images/logo.png" alt="aumfs Automation">
            </section>
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
            <blockquote class="pull-right">
                <small>Powered By <a href="http://www.rtsoftwares.in" target="_blank">R T Softwares</a></small>

            </blockquote>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">
<!--                 <section class="row signin-social text-center">
                    <img src="/images/logo.png" alt="aumfs Automation">
                </section> -->
                <span class="line-thru"></span>

                <form role="form" name="form1" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" ng-model="user.mail" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" ng-model="user.pass" class="form-control" placeholder="password" required>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="login(user)" ng-disabled="form1.$invalid">Log in</button>

<!--                             <a href="#/dashboard" class="btn btn-primary btn-lg btn-block">Log in</a>
 -->                     </div>
                        <div class="form-group">
                            <a href="#/pages/forgot" ng-model="forgot_password">Forgot Password ?</a>
                        </div>
                        <p>{{msgtxt}}</p>
                    </fieldset>
                </form> 
<!--                 <div ng-show="forgot_password">
                    <form role="form" name="form2" class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" ng-model="secret.code" class="form-control" placeholder="Enter secret code" required>
                            </div>
                        </div>
                                            <div class="form-group">
                          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-click="secret(secret)" ng-disabled="form2.$invalid">Submit</button>
                </div>  -->
<!--                             <a href="#/dashboard" class="btn btn-primary btn-lg btn-block">Log in</a>
 -->                     </div>                    
                    </div> 
                </form>             
            </div>
        </div>
    </div>
</div>